<strong>Olá {{deliveryman_name}}</strong>
<p>A entrega {{order_product}} para {{recipient_name}} no CEP: {{recipient_zipCode}} foi cancelada devido ao problema
  relatado:</p>
<strong><small>{{deliveryProblem_description}}</small> <br></strong>