<strong>Olá {{deliveryman}}</strong>
<p>Voce tem uma nova encomenda para retirada</p>
<small>Confira abaixo as informações para entrega</small>
<p>
  <strong>Produto: </strong> {{product}} <br>
  <strong>Destinatário: </strong> {{recipient_name}} <br>
  <strong>Rua: </strong> {{recipient_street}} <br>
  <strong>Numero: </strong> {{recipient_number}} <br>
  <strong>Complemento: </strong> {{recipient_complement}} <br>
  <strong>Cidade: </strong> {{recipient_city}} <br>
  <strong>Estado: </strong> {{recipient_state}} <br>
  <strong>CEP: </strong> {{recipient_zipCode}} <br>

</p>